PROXY_PREFIX=/etc/nginx
LOCAL_TIMEZONE=local_timezone
DOMAIN_NAME=example.com
DIRECTORY_PATH=directory_path

LETSENCRYPT_EMAIL=email@domain.com
LETSENCRYPT_CONF_PREFIX=/etc/letsencrypt
SSL_SNIPPET=ssl_snippet					   

RANCHER_IMAGE_VERSION=stable
